.table__manage-btn {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0 1.25rem;
  padding: 0.75rem;
}

.table__manage-btn img {
  height: 2rem;
}

.table__manage-btn:hover {
  background-color: #fe620b;
  border-radius: 50%;
}
