.table-row {
  display: grid;
  grid-template-columns: 0.2fr repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  width: 90%;
  font-size: 1.25rem;
  border-bottom: 2px solid #2c2c2c;
}

.table-row__manage-btn {
  display: flex;
  align-items: center;
}

.table-row__word-num {
  font-weight: bold;
}

.table-row input {
  font-size: 1.25rem;
  border-radius: 0.25rem;
}
